initiate_alarm_sequence.json
[
    {
        "id": "8e72be3f785145d5",
        "type": "subflow",
        "name": "Phone Notify",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 90,
                "y": 80,
                "wires": [
                    {
                        "id": "f4fe7e8cfc130c1e"
                    },
                    {
                        "id": "113a60f022a8f806"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 410,
                "y": 160,
                "wires": [
                    {
                        "id": "113a60f022a8f806",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "8a2ccbe047211ccf",
        "type": "ha-api",
        "z": "8e72be3f785145d5",
        "name": "",
        "server": "cc16ce7d.d93d8",
        "version": 1,
        "debugenabled": false,
        "protocol": "websocket",
        "method": "get",
        "path": "",
        "data": "{\"type\":\"get_services\"}",
        "dataType": "json",
        "responseType": "json",
        "outputProperties": [
            {
                "property": "services",
                "propertyType": "msg",
                "value": "",
                "valueType": "results"
            }
        ],
        "x": 450,
        "y": 80,
        "wires": [
            [
                "ac7cc7098111365c"
            ]
        ]
    },
    {
        "id": "ac7cc7098111365c",
        "type": "function",
        "z": "8e72be3f785145d5",
        "name": "Filter Services",
        "func": "let output = Object.keys(msg.services.notify).filter(\n      (key)=>key.startsWith(\"mobile_app\"));\nlet arnoldHome = global.get(\"homeassistant.homeAssistant.states['device_tracker.arnolds_app_tracker'].state\");\n\nif(arnoldHome != 'home'){\n      let index = output.indexOf('mobile_app_arnolds_iphone');\n      output.splice(index, 1);\n}\n\nmsg.payload = {};\nmsg.payload = {\n      data : msg.notify\n};\nfor (let index = 0; index < output.length; index++) {\n      msg.payload.action = 'notify.' + output[index];\n      node.send(msg);\n};\nreturn;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 80,
        "wires": [
            [
                "0f889e217ecb2ecf"
            ]
        ]
    },
    {
        "id": "0f889e217ecb2ecf",
        "type": "api-call-service",
        "z": "8e72be3f785145d5",
        "name": "Notify Devices",
        "server": "cc16ce7d.d93d8",
        "version": 7,
        "debugenabled": false,
        "action": "",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "labelId": [],
        "data": "",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": false,
        "domain": "notify",
        "service": "mobile_app_sm_s908u1",
        "x": 870,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "113a60f022a8f806",
        "type": "change",
        "z": "8e72be3f785145d5",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "notify",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 250,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "f4fe7e8cfc130c1e",
        "type": "change",
        "z": "8e72be3f785145d5",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 250,
        "y": 80,
        "wires": [
            [
                "8a2ccbe047211ccf"
            ]
        ]
    },
    {
        "id": "732236be6337edb5",
        "type": "subflow",
        "name": "Set Alarm Armed State",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 80,
                "y": 100,
                "wires": [
                    {
                        "id": "c3d8b859a90309bc"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 660,
                "y": 60,
                "wires": [
                    {
                        "id": "21a5e28c0db28cb5",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "c3d8b859a90309bc",
        "type": "ha-sensor",
        "z": "732236be6337edb5",
        "name": "Set alarm_armed_state",
        "entityConfig": "c19f7044f362db28",
        "version": 0,
        "state": "payload",
        "stateType": "msg",
        "attributes": [
            {
                "property": "changed_by",
                "value": "pin_name",
                "valueType": "msg"
            },
            {
                "property": "command_request",
                "value": "homeassistant.homeAssistant.states[\"sensor.alarm_command_request\"].state",
                "valueType": "global"
            }
        ],
        "inputOverride": "allow",
        "outputProperties": [],
        "x": 270,
        "y": 100,
        "wires": [
            [
                "21a5e28c0db28cb5"
            ]
        ]
    },
    {
        "id": "21a5e28c0db28cb5",
        "type": "change",
        "z": "732236be6337edb5",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "alarm/security/state",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 100,
        "wires": [
            [
                "f0fdf425b63ffb52"
            ]
        ]
    },
    {
        "id": "f0fdf425b63ffb52",
        "type": "mqtt out",
        "z": "732236be6337edb5",
        "name": "Broadcast MQTT Security State Change",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "35c3b8b4dd3e8a28",
        "x": 800,
        "y": 140,
        "wires": []
    },
    {
        "id": "c19f7044f362db28",
        "type": "ha-entity-config",
        "server": "cc16ce7d.d93d8",
        "deviceConfig": "",
        "name": "alarm_armed_state",
        "version": "6",
        "entityType": "sensor",
        "haConfig": [
            {
                "property": "name",
                "value": "Alarm Armed State"
            },
            {
                "property": "icon",
                "value": "mdi:security"
            },
            {
                "property": "entity_picture",
                "value": ""
            },
            {
                "property": "entity_category",
                "value": ""
            },
            {
                "property": "device_class",
                "value": ""
            },
            {
                "property": "unit_of_measurement",
                "value": ""
            },
            {
                "property": "state_class",
                "value": ""
            }
        ],
        "resend": true,
        "debugEnabled": false
    },
    {
        "id": "35c3b8b4dd3e8a28",
        "type": "mqtt-broker",
        "name": "homeassistant",
        "broker": "homeassistant",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "5",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "41ebd12435392355",
        "type": "subflow",
        "name": "Set alarm_type_state",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 80,
                "wires": [
                    {
                        "id": "6b9dd88ef4f30ae1"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 420,
                "y": 80,
                "wires": [
                    {
                        "id": "6b9dd88ef4f30ae1",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "6b9dd88ef4f30ae1",
        "type": "ha-sensor",
        "z": "41ebd12435392355",
        "name": "Set alarm_type_state",
        "entityConfig": "f78ee004d985ccf3",
        "version": 0,
        "state": "payload",
        "stateType": "msg",
        "attributes": [
            {
                "property": "trigger_info",
                "value": "trigger_info",
                "valueType": "msg"
            }
        ],
        "inputOverride": "allow",
        "outputProperties": [],
        "x": 240,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "f78ee004d985ccf3",
        "type": "ha-entity-config",
        "server": "cc16ce7d.d93d8",
        "deviceConfig": "",
        "name": "alarm_type_state",
        "version": "6",
        "entityType": "sensor",
        "haConfig": [
            {
                "property": "name",
                "value": "Alarm Type State"
            },
            {
                "property": "icon",
                "value": "mdi:security"
            },
            {
                "property": "entity_picture",
                "value": ""
            },
            {
                "property": "entity_category",
                "value": ""
            },
            {
                "property": "device_class",
                "value": ""
            },
            {
                "property": "unit_of_measurement",
                "value": ""
            },
            {
                "property": "state_class",
                "value": ""
            }
        ],
        "resend": true,
        "debugEnabled": false
    },
    {
        "id": "7dfee4f13b192105",
        "type": "subflow",
        "name": "Restore Lights",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 80,
                "wires": [
                    {
                        "id": "eedab9124a15d24f"
                    }
                ]
            }
        ],
        "out": [],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "eedab9124a15d24f",
        "type": "api-call-service",
        "z": "7dfee4f13b192105",
        "name": "Restore Lights",
        "server": "cc16ce7d.d93d8",
        "version": 7,
        "debugenabled": false,
        "action": "scene.turn_on",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "scene.alarm_save_state"
        ],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": false,
        "domain": "scene",
        "service": "turn_on",
        "x": 220,
        "y": 80,
        "wires": [
            [
                "a1294f6897152c44"
            ]
        ]
    },
    {
        "id": "a1294f6897152c44",
        "type": "change",
        "z": "7dfee4f13b192105",
        "name": "Set flow.$parent.lightsSaveExecuted FALSE",
        "rules": [
            {
                "t": "set",
                "p": "$parent.lightsSaveExecuted",
                "pt": "flow",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "16fb37dcb9a5b5b0",
        "type": "subflow",
        "name": "Restore Minis",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 80,
                "wires": [
                    {
                        "id": "097b3eac351de996"
                    }
                ]
            }
        ],
        "out": [],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "097b3eac351de996",
        "type": "api-call-service",
        "z": "16fb37dcb9a5b5b0",
        "name": "Restore Minis",
        "server": "cc16ce7d.d93d8",
        "version": 7,
        "debugenabled": false,
        "action": "scene.turn_on",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "scene.alarm_minis_save_state"
        ],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": false,
        "domain": "scene",
        "service": "turn_on",
        "x": 220,
        "y": 80,
        "wires": [
            [
                "0a4451fc252fcf2f"
            ]
        ]
    },
    {
        "id": "0a4451fc252fcf2f",
        "type": "change",
        "z": "16fb37dcb9a5b5b0",
        "name": "Set flow.$parent.minisSaveExecuted FALSE",
        "rules": [
            {
                "t": "set",
                "p": "$parent.minisSaveExecuted",
                "pt": "flow",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "b32fde44b9ca4f89",
        "type": "subflow",
        "name": "Save Lights",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 80,
                "wires": [
                    {
                        "id": "9636a95c441ae202"
                    }
                ]
            }
        ],
        "out": [],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "ef6a106499747001",
        "type": "ha-get-entities",
        "z": "b32fde44b9ca4f89",
        "name": "Get Lights",
        "server": "cc16ce7d.d93d8",
        "version": 1,
        "rules": [
            {
                "property": "entity_id",
                "logic": "starts_with",
                "value": "light.",
                "valueType": "str"
            },
            {
                "property": "entity_id",
                "logic": "is_not",
                "value": "basic",
                "valueType": "re"
            },
            {
                "property": "entity_id",
                "logic": "is_not",
                "value": "_group",
                "valueType": "re"
            }
        ],
        "outputType": "split",
        "outputEmptyResults": false,
        "outputLocationType": "msg",
        "outputLocation": "payload",
        "outputResultsCount": 1,
        "x": 870,
        "y": 80,
        "wires": [
            [
                "80da539b4a9d3a24"
            ]
        ]
    },
    {
        "id": "9ad5c1ec73935162",
        "type": "api-call-service",
        "z": "b32fde44b9ca4f89",
        "name": "Create Save Scene",
        "server": "cc16ce7d.d93d8",
        "version": 7,
        "debugenabled": false,
        "action": "scene.create",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": false,
        "domain": "scene",
        "service": "create",
        "x": 1450,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "80da539b4a9d3a24",
        "type": "join",
        "z": "b32fde44b9ca4f89",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload.entity_id",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "2",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1050,
        "y": 80,
        "wires": [
            [
                "e31f7f317c09e8f2"
            ]
        ]
    },
    {
        "id": "e31f7f317c09e8f2",
        "type": "change",
        "z": "b32fde44b9ca4f89",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload.data.scene_id",
                "pt": "msg",
                "to": "alarm_save_state",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.data.snapshot_entities",
                "pt": "msg",
                "to": "payload.entity_id",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1220,
        "y": 80,
        "wires": [
            [
                "9ad5c1ec73935162"
            ]
        ]
    },
    {
        "id": "9636a95c441ae202",
        "type": "switch",
        "z": "b32fde44b9ca4f89",
        "name": "Check flow.$parent.lightsSaveExecuted",
        "property": "$parent.lightsSaveExecuted",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "true",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 300,
        "y": 80,
        "wires": [
            [],
            [
                "337d0edc9db656a2"
            ]
        ]
    },
    {
        "id": "337d0edc9db656a2",
        "type": "change",
        "z": "b32fde44b9ca4f89",
        "name": "Set lightsSaveExecuted TRUE",
        "rules": [
            {
                "t": "set",
                "p": "$parent.lightsSaveExecuted",
                "pt": "flow",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 80,
        "wires": [
            [
                "ef6a106499747001"
            ]
        ]
    },
    {
        "id": "1c36d79f241f28fb",
        "type": "subflow",
        "name": "Save Minis States",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 80,
                "wires": [
                    {
                        "id": "294ac3f504fc2160"
                    }
                ]
            }
        ],
        "out": [],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "acb61cfaa4e9a3a8",
        "type": "ha-get-entities",
        "z": "1c36d79f241f28fb",
        "name": "Get Minis",
        "server": "cc16ce7d.d93d8",
        "version": 1,
        "rules": [
            {
                "property": "entity_id",
                "logic": "is",
                "value": "_mini",
                "valueType": "re"
            }
        ],
        "outputType": "split",
        "outputEmptyResults": false,
        "outputLocationType": "msg",
        "outputLocation": "minis",
        "outputResultsCount": 1,
        "x": 880,
        "y": 80,
        "wires": [
            [
                "5eec7d0350629741"
            ]
        ]
    },
    {
        "id": "5eec7d0350629741",
        "type": "join",
        "z": "1c36d79f241f28fb",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload.entity_id",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "2",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1050,
        "y": 80,
        "wires": [
            [
                "377fb6a66dd610c5"
            ]
        ]
    },
    {
        "id": "377fb6a66dd610c5",
        "type": "change",
        "z": "1c36d79f241f28fb",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload.data.scene_id",
                "pt": "msg",
                "to": "alarm_minis_save_state",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.data.snapshot_entities",
                "pt": "msg",
                "to": "payload.entity_id",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1240,
        "y": 80,
        "wires": [
            [
                "9e75719af78d3b37"
            ]
        ]
    },
    {
        "id": "9e75719af78d3b37",
        "type": "api-call-service",
        "z": "1c36d79f241f28fb",
        "name": "Create Save Scene",
        "server": "cc16ce7d.d93d8",
        "version": 7,
        "debugenabled": false,
        "action": "scene.create",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": false,
        "domain": "scene",
        "service": "create",
        "x": 1470,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "294ac3f504fc2160",
        "type": "switch",
        "z": "1c36d79f241f28fb",
        "name": "Check flow.$parent.minisSaveExecuted",
        "property": "$parent.minisSaveExecuted",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "true",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 300,
        "y": 80,
        "wires": [
            [],
            [
                "c0db38b6f181778a"
            ]
        ]
    },
    {
        "id": "c0db38b6f181778a",
        "type": "change",
        "z": "1c36d79f241f28fb",
        "name": "Set minisSaveExecuted TRUE",
        "rules": [
            {
                "t": "set",
                "p": "$parent.minisSaveExecuted",
                "pt": "flow",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 650,
        "y": 80,
        "wires": [
            [
                "acb61cfaa4e9a3a8"
            ]
        ]
    },
    {
        "id": "4bcf46b11bf99871",
        "type": "subflow",
        "name": "Initiate Alarm Sequence",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 120,
                "y": 1020,
                "wires": [
                    {
                        "id": "6b813591375a5bd4"
                    },
                    {
                        "id": "a56c2e54299a3435"
                    }
                ]
            }
        ],
        "out": [],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "7d45201ac2b111ae",
        "type": "api-call-service",
        "z": "4bcf46b11bf99871",
        "name": "Turn All Lights ON",
        "server": "cc16ce7d.d93d8",
        "version": 7,
        "debugenabled": false,
        "action": "light.turn_on",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "labelId": [],
        "data": "{\"transition\":1,\"kelvin\":5000,\"brightness_pct\":100}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": false,
        "domain": "light",
        "service": "turn_on",
        "x": 1210,
        "y": 740,
        "wires": [
            [
                "b3d2d556418d3966"
            ]
        ]
    },
    {
        "id": "e8dd2127292ddde8",
        "type": "api-call-service",
        "z": "4bcf46b11bf99871",
        "name": "Set Scene",
        "server": "cc16ce7d.d93d8",
        "version": 7,
        "debugenabled": false,
        "action": "scene.turn_on",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "{{payload}}"
        ],
        "labelId": [],
        "data": "",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": false,
        "domain": "scene",
        "service": "turn_on",
        "x": 1650,
        "y": 740,
        "wires": [
            [
                "f1f637f6dcaa2ddf"
            ]
        ]
    },
    {
        "id": "f1f637f6dcaa2ddf",
        "type": "loop",
        "z": "4bcf46b11bf99871",
        "name": "",
        "kind": "fcnt",
        "count": "200",
        "initial": "1",
        "step": "1",
        "condition": "",
        "conditionType": "js",
        "when": "before",
        "enumeration": "enum",
        "enumerationType": "msg",
        "limit": "",
        "loopPayload": "loop-index",
        "finalPayload": "final-last",
        "x": 1870,
        "y": 740,
        "wires": [
            [],
            [
                "7b7c9e6e90cab3e8"
            ]
        ]
    },
    {
        "id": "cb4aa47c631f03cf",
        "type": "api-call-service",
        "z": "4bcf46b11bf99871",
        "name": "Flash Scene Lights",
        "server": "cc16ce7d.d93d8",
        "version": 7,
        "debugenabled": false,
        "action": "light.turn_on",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "binary_sensor.balcony_light",
            "light.signify_netherlands_b_v_lct007_light_2",
            "light.signify_netherlands_b_v_lct011_light_2"
        ],
        "labelId": [],
        "data": "{\"flash\":\"long\"}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": false,
        "domain": "light",
        "service": "turn_on",
        "x": 1870,
        "y": 860,
        "wires": [
            [
                "2067402a14a1e480"
            ]
        ]
    },
    {
        "id": "2067402a14a1e480",
        "type": "delay",
        "z": "4bcf46b11bf99871",
        "name": "",
        "pauseType": "delay",
        "timeout": "15",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1840,
        "y": 920,
        "wires": [
            [
                "f1f637f6dcaa2ddf"
            ]
        ]
    },
    {
        "id": "148f33f41a062fae",
        "type": "api-call-service",
        "z": "4bcf46b11bf99871",
        "name": "Set Volume",
        "server": "cc16ce7d.d93d8",
        "version": 7,
        "debugenabled": false,
        "action": "media_player.volume_set",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "media_player.minis"
        ],
        "labelId": [],
        "data": "{\"volume_level\":\"1\"}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": false,
        "domain": "media_player",
        "service": "volume_set",
        "x": 950,
        "y": 1020,
        "wires": [
            [
                "59cf230dda63f110"
            ]
        ]
    },
    {
        "id": "aea7afdd56b4e8aa",
        "type": "api-call-service",
        "z": "4bcf46b11bf99871",
        "name": "Play Klaxon",
        "server": "cc16ce7d.d93d8",
        "version": 7,
        "debugenabled": false,
        "action": "media_player.play_media",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "media_player.minis"
        ],
        "labelId": [],
        "data": "",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": false,
        "domain": "media_player",
        "service": "play_media",
        "x": 1390,
        "y": 1200,
        "wires": [
            [
                "a2aa161360c86b3a"
            ]
        ]
    },
    {
        "id": "a2aa161360c86b3a",
        "type": "delay",
        "z": "4bcf46b11bf99871",
        "name": "",
        "pauseType": "delay",
        "timeout": "7",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1380,
        "y": 1260,
        "wires": [
            [
                "aa2dd414a54d66c8"
            ]
        ]
    },
    {
        "id": "80bc860553be82e1",
        "type": "looptimer",
        "z": "4bcf46b11bf99871",
        "duration": "18",
        "units": "Second",
        "maxloops": "120",
        "maxtimeout": "30",
        "maxtimeoutunits": "Minute",
        "name": "",
        "x": 1400,
        "y": 1020,
        "wires": [
            [
                "1364718345193ec1"
            ],
            []
        ]
    },
    {
        "id": "7b7c9e6e90cab3e8",
        "type": "api-current-state",
        "z": "4bcf46b11bf99871",
        "name": "Check armed_state DISARMED",
        "server": "cc16ce7d.d93d8",
        "version": 3,
        "outputs": 2,
        "halt_if": "disarmed",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "sensor.alarm_armed_state",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 1910,
        "y": 800,
        "wires": [
            [
                "dae9435dffdc6110"
            ],
            [
                "cb4aa47c631f03cf"
            ]
        ]
    },
    {
        "id": "1364718345193ec1",
        "type": "api-current-state",
        "z": "4bcf46b11bf99871",
        "name": "Check armed_state DISARMED",
        "server": "cc16ce7d.d93d8",
        "version": 3,
        "outputs": 2,
        "halt_if": "disarmed",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "sensor.alarm_armed_state",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "STOP",
                "valueType": "str"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 1450,
        "y": 1080,
        "wires": [
            [
                "80bc860553be82e1"
            ],
            [
                "6717260b5dedc1e4"
            ]
        ]
    },
    {
        "id": "6b813591375a5bd4",
        "type": "function",
        "z": "4bcf46b11bf99871",
        "name": "Process Trigger",
        "func": "var spoken;\nvar notify = {};\nvar scene;\nvar responseType;\nvar siren;\nvar klaxon;\nvar alarm_method = [];\n\nswitch(msg.sensor_type){\n    case 'FIRE':\n        spoken = 'Attention! Attention! Smoke has been detected. Please exit the unit as quickly as possible.';\n        notify = {\n            \"title\": 'FIRE',\n            \"message\": 'The ' + msg.trigger.sensor + ' has detected smoke at ' + msg.trigger.time + '. The alarm has been sounded.',\n            \"data\": {\n                \"channel\": 'Alarm',\n                \"importance\": 'high',\n                \"persistence\": true,\n                \"tag\": 'Alarm'\n            }\n        };\n        scene = 'scene.fire_co';\n        responseType = 'fire';\n        siren = '5';\n        klaxon = \"https://homeassistant.shaneburkhardt.com:8123/local/media/tng_red_alert2.mp3\";\n        alarm_method = ['message','announce','lights','siren','noonlight','keypad'];\n        break;\n    case 'CARBON MONOXIDE':\n        spoken = 'Attention! Attention! Carbon monoxide has been detected. Please exit the unit as quickly as possible.';\n        notify = {\n            \"title\"     : 'CO ALARM',\n            \"message\"   : 'The ' + msg.trigger.sensor + ' has detected carbon monoxide (CO) at ' + msg.trigger.time + '. The alarm has been sounded.',\n            \"data\"      : {\n                \"channel\"       : 'Alarm',\n                \"importance\"    : 'high',\n                \"persistence\"   : true,\n                \"tag\"           : 'Alarm'\n            }\n        };\n        scene = 'scene.fire_co';  \n        responseType = 'fire';\n        siren = '5'; \n        klaxon = \"https://homeassistant.shaneburkhardt.com:8123/local/media/tng_red_alert2.mp3\";\n        alarm_method = ['message', 'announce', 'lights', 'siren', 'noonlight','keypad'];\n        break;\n    case 'INTRUDER':\n        spoken = 'Intruder Alert! Intruder Alert! The police have been summoned.';\n        notify = {\n            \"title\": 'INTRUDER ALERT',\n            \"message\": 'The ' + msg.trigger.sensor + ' was triggered at ' + msg.trigger.time + '. The alarm has been sounded.',\n            \"data\": {\n                \"channel\": 'Alarm',\n                \"importance\": 'high',\n                \"persistence\": true,\n                \"tag\": 'Alarm'\n            }\n        };\n        scene = 'scene.intruder';\n        responseType = 'police';\n        siren = '4';\n        klaxon = \"https://homeassistant.shaneburkhardt.com:8123/local/media/tng_red_alert2.mp3\";\n        alarm_method = ['message', 'announce', 'lights', 'siren', 'noonlight','keypad'];\n        break;\n    case 'PANIC':\n        alarm_method = ['noonlight'];\n        responseType = 'police';\n        break;\n    case 'LEAK':\n        alarm_method = ['message', 'announce'];\n        notify = {\n            \"title\": 'LEAK',\n            \"message\": 'The ' + msg.trigger.sensor + 'was triggered at ' + msg.trigger.time + '. Please check for a leak.',\n            \"data\": {\n                \"channel\": 'Alarm',\n                \"importance\": 'high',\n                \"persistence\": true,\n                \"tag\": 'Alarm'\n            }\n        };\n        spoken = 'Leak Alert! Leak Alert! The ' + msg.trigger.sensor + 'has detected a leak.';\n        klaxon = \"https://homeassistant.shaneburkhardt.com:8123/local/media/tng_red_alert2.mp3\";\n};\n\nmsg.parameters = {\n    \"spoken\" : spoken,\n    \"notify\" : notify,\n    \"scene\" : scene,\n    \"noonlight\" : {\n        \"service\" : responseType\n    },\n    \"siren\" : siren,\n    \"klaxon\" : klaxon\n};\n\nmsg.alarm_method = alarm_method;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 1020,
        "wires": [
            [
                "af2c6fcc2b6b4ae2",
                "ac776a2c7b5efb8e",
                "7924b52f345e6a61",
                "5559652294b1938a",
                "fe053ced96ed38e3",
                "7c72107c3c0b42df",
                "1b86dbf1413cb646"
            ]
        ]
    },
    {
        "id": "b3d2d556418d3966",
        "type": "change",
        "z": "4bcf46b11bf99871",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "parameters.scene",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1440,
        "y": 740,
        "wires": [
            [
                "e8dd2127292ddde8"
            ]
        ]
    },
    {
        "id": "cf42e87fc74d59ee",
        "type": "join",
        "z": "4bcf46b11bf99871",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload.entity_id",
        "propertyType": "msg",
        "key": "payload",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "5",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 970,
        "y": 740,
        "wires": [
            [
                "a502e9d60358126d"
            ]
        ]
    },
    {
        "id": "dae9435dffdc6110",
        "type": "change",
        "z": "4bcf46b11bf99871",
        "name": "Send BREAK",
        "rules": [
            {
                "t": "set",
                "p": "command",
                "pt": "msg",
                "to": "break",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2180,
        "y": 800,
        "wires": [
            [
                "f1f637f6dcaa2ddf"
            ]
        ]
    },
    {
        "id": "a502e9d60358126d",
        "type": "change",
        "z": "4bcf46b11bf99871",
        "name": "",
        "rules": [
            {
                "t": "delete",
                "p": "data",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "payload.data",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "payload.data.entity_id",
                "pt": "msg",
                "to": "payload.entity_id",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1000,
        "y": 800,
        "wires": [
            [
                "99dc3ff70f59126d"
            ]
        ]
    },
    {
        "id": "984e46924519093f",
        "type": "ha-get-entities",
        "z": "4bcf46b11bf99871",
        "name": "Get Lights",
        "server": "cc16ce7d.d93d8",
        "version": 1,
        "rules": [
            {
                "property": "entity_id",
                "logic": "starts_with",
                "value": "light.",
                "valueType": "str"
            },
            {
                "property": "entity_id",
                "logic": "is_not",
                "value": "basic",
                "valueType": "re"
            },
            {
                "property": "entity_id",
                "logic": "is_not",
                "value": "_group",
                "valueType": "re"
            }
        ],
        "outputType": "split",
        "outputEmptyResults": false,
        "outputLocationType": "msg",
        "outputLocation": "payload",
        "outputResultsCount": 1,
        "x": 790,
        "y": 740,
        "wires": [
            [
                "cf42e87fc74d59ee"
            ]
        ]
    },
    {
        "id": "c8f6f658b22abf63",
        "type": "comment",
        "z": "4bcf46b11bf99871",
        "name": "Notify Phones",
        "info": "",
        "x": 510,
        "y": 340,
        "wires": []
    },
    {
        "id": "2d5cc3d67503e2c1",
        "type": "comment",
        "z": "4bcf46b11bf99871",
        "name": "Turn on Lights",
        "info": "",
        "x": 510,
        "y": 680,
        "wires": []
    },
    {
        "id": "5a747eb39055bbb4",
        "type": "comment",
        "z": "4bcf46b11bf99871",
        "name": "Play Message on Minis",
        "info": "",
        "x": 540,
        "y": 960,
        "wires": []
    },
    {
        "id": "5b4861e9d528e2ad",
        "type": "comment",
        "z": "4bcf46b11bf99871",
        "name": "Send Notification to Noonlight Central Monitoring",
        "info": "",
        "x": 620,
        "y": 1400,
        "wires": []
    },
    {
        "id": "629e8fa08d1766c7",
        "type": "change",
        "z": "4bcf46b11bf99871",
        "name": "",
        "rules": [
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "payload.data",
                "pt": "msg",
                "to": "parameters.noonlight",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 1460,
        "wires": [
            [
                "59264ac6d5e87898"
            ]
        ]
    },
    {
        "id": "59cf230dda63f110",
        "type": "function",
        "z": "4bcf46b11bf99871",
        "name": "Compose Message",
        "func": "msg.payload = {\n    data : {\n        \"media_content_id\" : msg.parameters.klaxon,\n        \"media_content_type\" : \"audio/mp3\",\n        \"announce\" : \"true\"\n    }\n};\nmsg.payload2 = {\n    data : {\n        message : msg.parameters.spoken,\n        language : 'en-US',\n        options : {\n            voice : 'CoraNeural'\n        }\n    }\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1170,
        "y": 1020,
        "wires": [
            [
                "80bc860553be82e1"
            ]
        ]
    },
    {
        "id": "3007a6749c26866c",
        "type": "comment",
        "z": "4bcf46b11bf99871",
        "name": "Sound Siren",
        "info": "",
        "x": 510,
        "y": 1580,
        "wires": []
    },
    {
        "id": "59264ac6d5e87898",
        "type": "ha-switch",
        "z": "4bcf46b11bf99871",
        "name": "Security Central Monitoring ON",
        "version": 0,
        "debugenabled": false,
        "inputs": 1,
        "outputs": 2,
        "entityConfig": "fdb7f1b21519764a",
        "enableInput": true,
        "outputOnStateChange": false,
        "outputProperties": [
            {
                "property": "outputType",
                "propertyType": "msg",
                "value": "state change",
                "valueType": "str"
            },
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            }
        ],
        "x": 1090,
        "y": 1460,
        "wires": [
            [
                "dcc708c40c5ef5cb"
            ],
            []
        ]
    },
    {
        "id": "69590e3a8b999638",
        "type": "api-call-service",
        "z": "4bcf46b11bf99871",
        "name": "",
        "server": "cc16ce7d.d93d8",
        "version": 7,
        "debugenabled": false,
        "action": "siren.turn_on",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "switch.alarm_siren"
        ],
        "labelId": [],
        "data": "",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": false,
        "domain": "siren",
        "service": "turn_on",
        "x": 1230,
        "y": 1640,
        "wires": [
            []
        ]
    },
    {
        "id": "3a63af14cf21a391",
        "type": "function",
        "z": "4bcf46b11bf99871",
        "name": "Compose Args",
        "func": "msg.payload = {\n    data : {\n        tone : msg.parameters.siren,\n        volume_level : '1',\n        duration : 1\n    }\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1020,
        "y": 1640,
        "wires": [
            [
                "69590e3a8b999638"
            ]
        ]
    },
    {
        "id": "e8f56d3728103553",
        "type": "api-call-service",
        "z": "4bcf46b11bf99871",
        "name": "",
        "server": "cc16ce7d.d93d8",
        "version": 7,
        "debugenabled": false,
        "action": "siren.turn_off",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "switch.alarm_siren"
        ],
        "labelId": [],
        "data": "",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": false,
        "domain": "siren",
        "service": "turn_off",
        "x": 830,
        "y": 1980,
        "wires": [
            []
        ]
    },
    {
        "id": "aa2dd414a54d66c8",
        "type": "change",
        "z": "4bcf46b11bf99871",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "parameters.spoken",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1400,
        "y": 1320,
        "wires": [
            [
                "5c35e6a1cf6ffb3b"
            ]
        ]
    },
    {
        "id": "af2c6fcc2b6b4ae2",
        "type": "switch",
        "z": "4bcf46b11bf99871",
        "name": "alarm_method MESSAGE",
        "property": "alarm_method",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "message",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 550,
        "y": 400,
        "wires": [
            [
                "b32c609f727c76e7"
            ]
        ]
    },
    {
        "id": "ac776a2c7b5efb8e",
        "type": "switch",
        "z": "4bcf46b11bf99871",
        "name": "alarm_method LIGHTS",
        "property": "alarm_method",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "lights",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 550,
        "y": 740,
        "wires": [
            [
                "d2526dbc78c059c1",
                "984e46924519093f"
            ]
        ]
    },
    {
        "id": "7924b52f345e6a61",
        "type": "switch",
        "z": "4bcf46b11bf99871",
        "name": "alarm_method ANNOUNCE",
        "property": "alarm_method",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "announce",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 540,
        "y": 1020,
        "wires": [
            [
                "18292a582ac5124c",
                "f659cef0a6b4d3b6"
            ]
        ]
    },
    {
        "id": "5559652294b1938a",
        "type": "switch",
        "z": "4bcf46b11bf99871",
        "name": "alarm_method NOONLIGHT",
        "property": "alarm_method",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "noonlight",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 560,
        "y": 1460,
        "wires": [
            [
                "629e8fa08d1766c7"
            ]
        ]
    },
    {
        "id": "fe053ced96ed38e3",
        "type": "switch",
        "z": "4bcf46b11bf99871",
        "name": "alarm_method SIREN",
        "property": "alarm_method",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "siren",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 540,
        "y": 1640,
        "wires": [
            [
                "79ccf481f7d9238f"
            ]
        ]
    },
    {
        "id": "58a438cf52d20317",
        "type": "comment",
        "z": "4bcf46b11bf99871",
        "name": "Flash Keypads Triggered",
        "info": "",
        "x": 550,
        "y": 1200,
        "wires": []
    },
    {
        "id": "7c72107c3c0b42df",
        "type": "switch",
        "z": "4bcf46b11bf99871",
        "name": "alarm_method KEYPAD",
        "property": "alarm_method",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "keypad",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 550,
        "y": 1260,
        "wires": [
            [
                "5ccf81655d5cef11"
            ]
        ]
    },
    {
        "id": "18292a582ac5124c",
        "type": "subflow:1c36d79f241f28fb",
        "z": "4bcf46b11bf99871",
        "name": "Save Minis States",
        "x": 570,
        "y": 1080,
        "wires": []
    },
    {
        "id": "d2526dbc78c059c1",
        "type": "subflow:b32fde44b9ca4f89",
        "z": "4bcf46b11bf99871",
        "name": "",
        "x": 510,
        "y": 800,
        "wires": []
    },
    {
        "id": "99dc3ff70f59126d",
        "type": "delay",
        "z": "4bcf46b11bf99871",
        "name": "",
        "pauseType": "delay",
        "timeout": "6",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 980,
        "y": 860,
        "wires": [
            [
                "7d45201ac2b111ae"
            ]
        ]
    },
    {
        "id": "f659cef0a6b4d3b6",
        "type": "delay",
        "z": "4bcf46b11bf99871",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 780,
        "y": 1020,
        "wires": [
            [
                "148f33f41a062fae"
            ]
        ]
    },
    {
        "id": "f666ddd294595451",
        "type": "subflow:16fb37dcb9a5b5b0",
        "z": "4bcf46b11bf99871",
        "name": "",
        "x": 1020,
        "y": 1860,
        "wires": []
    },
    {
        "id": "5edf3c43bfea055d",
        "type": "subflow:7dfee4f13b192105",
        "z": "4bcf46b11bf99871",
        "name": "",
        "x": 1020,
        "y": 1920,
        "wires": []
    },
    {
        "id": "5ccf81655d5cef11",
        "type": "change",
        "z": "4bcf46b11bf99871",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "triggered",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 800,
        "y": 1260,
        "wires": [
            [
                "60c761edca021444"
            ]
        ]
    },
    {
        "id": "6717260b5dedc1e4",
        "type": "change",
        "z": "4bcf46b11bf99871",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "payload.data.media_content_id",
                "pt": "msg",
                "to": "parameters.klaxon",
                "tot": "msg",
                "dc": true
            },
            {
                "t": "set",
                "p": "payload.data.media_content_type",
                "pt": "msg",
                "to": "music",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.data.announce",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1400,
        "y": 1140,
        "wires": [
            [
                "aea7afdd56b4e8aa"
            ]
        ]
    },
    {
        "id": "b32c609f727c76e7",
        "type": "looptimer",
        "z": "4bcf46b11bf99871",
        "duration": "1",
        "units": "Minute",
        "maxloops": "120",
        "maxtimeout": "4",
        "maxtimeoutunits": "Hour",
        "name": "",
        "x": 800,
        "y": 400,
        "wires": [
            [
                "25ff239a97958e38"
            ],
            []
        ]
    },
    {
        "id": "25ff239a97958e38",
        "type": "api-current-state",
        "z": "4bcf46b11bf99871",
        "name": "Check armed_state DISARMED",
        "server": "cc16ce7d.d93d8",
        "version": 3,
        "outputs": 2,
        "halt_if": "disarmed",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "sensor.alarm_armed_state",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "STOP",
                "valueType": "str"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 850,
        "y": 460,
        "wires": [
            [
                "b32c609f727c76e7"
            ],
            [
                "9e6935c67f4d69d5"
            ]
        ]
    },
    {
        "id": "79ccf481f7d9238f",
        "type": "ha-switch",
        "z": "4bcf46b11bf99871",
        "name": "Alarm Enable Siren",
        "version": 0,
        "debugenabled": false,
        "inputs": 1,
        "outputs": 2,
        "entityConfig": "9c7434d93be97b13",
        "enableInput": true,
        "outputOnStateChange": false,
        "outputProperties": [
            {
                "property": "outputType",
                "propertyType": "msg",
                "value": "state change",
                "valueType": "str"
            },
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            }
        ],
        "x": 790,
        "y": 1640,
        "wires": [
            [
                "3a63af14cf21a391"
            ],
            []
        ]
    },
    {
        "id": "873dcb58992d2b1b",
        "type": "subflow:41ebd12435392355",
        "z": "4bcf46b11bf99871",
        "name": "",
        "x": 520,
        "y": 2100,
        "wires": [
            []
        ]
    },
    {
        "id": "a56c2e54299a3435",
        "type": "change",
        "z": "4bcf46b11bf99871",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "sensor_type",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 280,
        "y": 2100,
        "wires": [
            [
                "873dcb58992d2b1b"
            ]
        ]
    },
    {
        "id": "60c761edca021444",
        "type": "subflow:732236be6337edb5",
        "z": "4bcf46b11bf99871",
        "name": "",
        "x": 1040,
        "y": 1260,
        "wires": [
            []
        ]
    },
    {
        "id": "1b86dbf1413cb646",
        "type": "ha-wait-until",
        "z": "4bcf46b11bf99871",
        "name": "Wait until DISARMED",
        "server": "cc16ce7d.d93d8",
        "version": 3,
        "outputs": 2,
        "entities": {
            "entity": [
                "sensor.alarm_armed_state"
            ],
            "substring": [],
            "regex": []
        },
        "property": "state",
        "comparator": "is",
        "value": "disarmed",
        "valueType": "str",
        "timeout": "30",
        "timeoutType": "num",
        "timeoutUnits": "minutes",
        "checkCurrentState": true,
        "blockInputOverrides": false,
        "outputProperties": [],
        "entityLocation": "data",
        "entityLocationType": "none",
        "x": 540,
        "y": 1860,
        "wires": [
            [
                "d60d5d6163b1d997"
            ],
            [
                "d60d5d6163b1d997"
            ]
        ]
    },
    {
        "id": "20e46b58ad2e2759",
        "type": "comment",
        "z": "4bcf46b11bf99871",
        "name": "Restore Lights/Minis on Disarm or Time Out",
        "info": "",
        "x": 610,
        "y": 1800,
        "wires": []
    },
    {
        "id": "9e6935c67f4d69d5",
        "type": "function",
        "z": "4bcf46b11bf99871",
        "name": "Compose Message",
        "func": "let message = msg.parameters.notify;\nmsg.notify = {};\nmsg.notify = message;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 520,
        "wires": [
            [
                "5f1ab2e444c13a81"
            ]
        ]
    },
    {
        "id": "5f1ab2e444c13a81",
        "type": "subflow:8e72be3f785145d5",
        "z": "4bcf46b11bf99871",
        "name": "",
        "x": 1031.7337646484375,
        "y": 522.7384033203125,
        "wires": [
            []
        ]
    },
    {
        "id": "999ae01c67f3b284",
        "type": "delay",
        "z": "4bcf46b11bf99871",
        "name": "",
        "pauseType": "delay",
        "timeout": "20",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 820,
        "y": 1860,
        "wires": [
            [
                "f666ddd294595451",
                "5edf3c43bfea055d"
            ]
        ]
    },
    {
        "id": "dcc708c40c5ef5cb",
        "type": "api-call-service",
        "z": "4bcf46b11bf99871",
        "name": "Noonlight Create Alarm",
        "server": "cc16ce7d.d93d8",
        "version": 7,
        "debugenabled": false,
        "action": "noonlight.create_alarm",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "labelId": [],
        "data": "",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": false,
        "domain": "noonlight",
        "service": "create_alarm",
        "x": 1390,
        "y": 1460,
        "wires": [
            []
        ]
    },
    {
        "id": "5c35e6a1cf6ffb3b",
        "type": "api-call-service",
        "z": "4bcf46b11bf99871",
        "name": "Announce on Minis",
        "server": "cc16ce7d.d93d8",
        "version": 7,
        "debugenabled": false,
        "action": "tts.cloud_say",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "labelId": [],
        "data": "{\"entity_id\":\"media_player.security_status\",\"message\":\"{{payload}}\",\"options\":{\"voice\":\"CoraNeural\"}}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": false,
        "domain": "tts",
        "service": "cloud_say",
        "x": 1410,
        "y": 1380,
        "wires": [
            []
        ]
    },
    {
        "id": "d60d5d6163b1d997",
        "type": "junction",
        "z": "4bcf46b11bf99871",
        "x": 700,
        "y": 1860,
        "wires": [
            [
                "e8f56d3728103553",
                "999ae01c67f3b284"
            ]
        ]
    },
    {
        "id": "cc16ce7d.d93d8",
        "type": "server",
        "name": "Home Assistant",
        "addon": true,
        "rejectUnauthorizedCerts": true,
        "ha_boolean": "",
        "connectionDelay": false,
        "cacheJson": false,
        "heartbeat": false,
        "heartbeatInterval": "",
        "statusSeparator": "",
        "enableGlobalContextStore": false
    },
    {
        "id": "fdb7f1b21519764a",
        "type": "ha-entity-config",
        "server": "cc16ce7d.d93d8",
        "deviceConfig": "",
        "name": "alarm_central_monitoring",
        "version": "6",
        "entityType": "switch",
        "haConfig": [
            {
                "property": "name",
                "value": "Alarm Central Monitoring"
            },
            {
                "property": "icon",
                "value": "mdi:security"
            },
            {
                "property": "entity_picture",
                "value": ""
            },
            {
                "property": "entity_category",
                "value": ""
            },
            {
                "property": "device_class",
                "value": "switch"
            }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "9c7434d93be97b13",
        "type": "ha-entity-config",
        "server": "cc16ce7d.d93d8",
        "deviceConfig": "",
        "name": "Alarm Enable Siren",
        "version": "6",
        "entityType": "switch",
        "haConfig": [
            {
                "property": "name",
                "value": "Alarm Enable Siren"
            },
            {
                "property": "icon",
                "value": "mdi:security"
            },
            {
                "property": "entity_picture",
                "value": ""
            },
            {
                "property": "entity_category",
                "value": ""
            },
            {
                "property": "device_class",
                "value": ""
            }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "b2fd39209600c74a",
        "type": "subflow:4bcf46b11bf99871",
        "z": "d2d431d61fb8d768",
        "name": "",
        "x": 1170,
        "y": 380,
        "wires": []
    },
    {
        "id": "a7c999d2e51c78bb",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-contrib-home-assistant-websocket": "0.80.3",
            "node-red-contrib-loop": "1.0.1",
            "node-red-contrib-looptimer": "0.0.8"
        }
    }
]
